@charset "utf-8";
/* CSS App_Grafite_Digital */

.contorno {
    -moz-box-shadow: 0 0 0 4px #ffffff;
    -webkit-box-shadow: 0 0 0 4px #ffffff;
    box-shadow: 0 0 0 4px #ffffff;
}

h5 {
    color: white;
}

#left-bar {
    height: 100vh;
}

#right-bar {
    background-color: #4d4d4d;
    height: 100vh;
}

#base-container #container-brushes {
    margin: 15px 0px 15px 0px;
}

#base-container #container-brushes .pincel {
    width: 50px;
    margin-bottom: 15px;
}

#base-container #container-colors {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

#base-container #container-colors #div-cor {
    height: 50px;
    background-color: #000000;
}

#base-container #container-sliders {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

#base-container #container-sliders img {
    width: 28px;
}

#base-container #container-buttons {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

#base-container #container-controls {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

/* PALETE CONTAINER */
#palette-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#palette-container img {
    width: 50px;
}

/* BACKGROUNDS CONTAINER */
#backgrounds-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#backgrounds-container img {
    width: 50px;
}

#backgrounds-container #container-backgrounds-list {
    margin-bottom: 15px;
}


/* BACKGROUNDS CONTAINER */
#stamps-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#stamps-container img {
    width: 50px;
}

#stamps-container #container-stamps-list {
    margin-bottom: 15px;
}

/* NEW CONTAINER */
#send-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#send-container img {
    width: 50px;
}

#send-container #new-save {
    width: auto;
    height: 50px;
}